{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-body">

            <h2>Password Strength Checker</h2>

            <hr>

            <form method="POST" action="{{ url_for('password.result') }}">

                <div class="mb-3">

                    <label class="form-label">
                        Enter Password
                    </label>

                    <input type="password" name="password" class="form-control" required>

                </div>

                <button class="btn btn-success">

                    Check Password

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}